version: '3.8'


services:
backend:
build: ./backend
ports:
- "5000:5000"
environment:
- PORT=5000
- JWT_SECRET=${JWT_SECRET}
- MONGO_URL=${MONGO_URL}
depends_on:
- mongo
restart: unless-stopped


frontend:
build: ./frontend
ports:
- "3001:80"
environment:
- REACT_APP_BASE_URL=http://backend:5000
depends_on:
- backend
restart: unless-stopped


mongo:
image: mongo:6.0
restart: always
environment:
- MONGO_INITDB_ROOT_USERNAME=admin
- MONGO_INITDB_ROOT_PASSWORD=password
volumes:
- mongo-data:/data/db


volumes:
mongo-data:
