services:
  backend:
    build: ./backend
    ports:
      - "5000:5000"
    environment:
      - MONGO_URI=your_mongodb_atlas_uri
      - JWT_SECRET=your_secret_key
    depends_on:
      - mongo

  frontend:
    build: ./frontend
    ports:
      - "3001:3001"
    depends_on:
      - backend

  mongo:
    image: mongo
    restart: always
    ports:
      - "27017:27017"
